<div class="container">
  <div class="header">
    <div class="calendar-navigation">
      <button mat-button color="primary">Previous</button>
      <button mat-button color="primary">Next</button>
    </div>
    <div class="calendar-type-info">

    </div>
    <div class="calendar-type-select">
      <button mat-button [disabled]="selectedView === 'Month'" color="primary" (click)="selectedView = 'Month'">Month</button>
      <button mat-button [disabled]="selectedView === 'Week'" color="primary" (click)="selectedView = 'Week'">Week</button>
      <button mat-button [disabled]="selectedView === 'Day'" color="primary" (click)="selectedView = 'Day'">Day</button>
    </div>
  </div>
  <div class="main">
    <ng-container [ngSwitch]="selectedView">
      <pmt-month-calendar *ngSwitchCase="'Month'"></pmt-month-calendar>
      <pmt-week-calendar *ngSwitchCase="'Week'"></pmt-week-calendar>
      <pmt-day-calendar *ngSwitchCase="'Day'"></pmt-day-calendar>
    </ng-container>
  </div>
</div>