.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    .header {
        display: flex;
        width: 100%;
        .calendar-navigation {
            flex: 1 1 25%;
        }
        .calendar-type-info {
            flex: 1 1 50%;
        }
        .calendar-type-select {
            flex: 1 1 25%;
        }
    }
}